.main-container {

  height: 100vh;
  width: 70%;
  background-color:#ecf0fd;
  float: left;
  padding-top: 100px;
  box-sizing: border-box;

}
.info-container {

  float: right;
  width: 30%;
  background-color: white;
  height: 100vh;
  border-left: 1px #f4f4f4 solid;
  box-sizing: border-box;
  position: relative;

}

.task-container {

  width: 60%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  height: 100px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

}

.logo {

  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
