
  <form (submit)="onLogin()" >

    <div class = "form-cont">

  <div class="form-group">

        <input placeholder = "Username" type="text" [(ngModel)]="userName" name="userName" class="form-control" >
  </div>

  <div class="form-group ">

        <input placeholder = "Password" type="password" [(ngModel)]="password" name="password" class="form-control password" >
    </div>

  <p class = "error" *ngIf="errors">Password or Username is incorrect. Please try again.</p>

  <button class = "login-btn" type= "submit">Log in</button>
    </div>

  </form>
  <div class="div-25px"> </div>
  <p class = "help">Need help logging in? <a>Click here.</a></p>
