
input {
  display: block;
  height: 35px;
  margin: auto;
  border: none;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid #023e73;
  outline: none;
  margin-bottom: 30px;

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.label{

  font-size: 16px;
  font-weight: 400;
  color: #023e73;
}

.password {
  margin-top: 10px;
  margin-bottom: 5px!important;
}

.error {
  font-size: 12px;
  color: red;
  text-align: center;

}






.form-group {

  display: block;
  margin: auto;
  width: 100%;

}



.login-btn {

  width: 120px;
  background-color: #416ef2;
  border-radius: 5px;
  height: 35px;
  color: white;
  font-size: 12px;
  box-shadow: 0 5px 6px -6px #777;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 20px;

}

.div-25px {
  margin-bottom: 25px;
}



.help {

  text-align: center;
  font-size: 12px;

}

a {
  text-decoration: underline;

  cursor: pointer;

}

.form-cont {
  width: 70%;
  margin: auto;
  display: block;
}

input:focus {
  border-bottom: 2px solid #416ef2;
}
